doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/raphael.min.js')
    script(src='/javascripts/knockout.min.js')
    block head
  body
    //nav-bar
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand Spreadmates
        .collapse.navbar-collapse
          button.btn.btn-default.navbar-btn Sign in
    .container.body-content
      block content
    block foot
